.AddTask {
    input {
        padding: 2%;
        font-size: 1em;
        width: 50%;
        margin-bottom: 10%;
        margin-left: 12%;
        border: none;
        border-radius: 3px;
        background-color: #f5f6f6
    }
}
