html, body {
    width: 100vw;
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    padding: 5% 0 5% 0;
}

button {
    padding: 2%;
    margin-left: 5%;
    margin-bottom: 1%;
    border: none;
    border-radius: 5px;
    background-color: orange;
    &:hover {
        background-color: #fff;
    }
}

.App {
    margin: 5vw auto 5vw auto;
    width: 50%;
    background-color: #0070cd;
    border-radius: 5px;

    .clear-all-btn {
        margin-left: 12%;
        margin-top: 5%;
    }
    
}
